.main {
    width: 80%;
}

.download_sec {
    text-align: end;
}

.download_btn {
    text-align: end;
}

table {
    width: 100%;
    border-collapse: collapse;
}

th,
td {
    border: 1px solid #ddd;
    padding: 12px;
    text-align: left;
}

th {
    background-color: #f2f2f2;
}